.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('C:\Users\rahul\OneDrive\Desktop\Final Year Project\petsforum\src\Demoimg3.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e68a00;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  margin: 0;
}

.additional-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.additional-links a {
  font-size: 12px;
  color: #0073bb;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}
