/* sharedstyle.css */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:/Users/rahul/OneDrive/Desktop/Final Year Project/petsforum/src/Demoimg3.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="tel"], 
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9900;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #e68a00;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  .checkbox-container label {
    margin: 0;
  }
  
  .additional-links {
    text-align: center;
    margin-top: 10px;
  }
  
  .additional-links a {
    font-size: 14px;
    color: #0073bb;
    text-decoration: none;
  }
  
  .additional-links a:hover {
    text-decoration: underline;
  }
  .admin-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #0073bb;
    text-decoration: none;
  }
  
  .admin-link:hover {
    text-decoration: underline;
  }